<div class="container-scroller">
  <!-- partial:./assets/partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo"><img src="./assets/images/Logo1.png" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini"><img src="./assets/images/Logo.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav">
        <li class="nav-item nav-search d-none d-md-flex">
          <div class="nav-link">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Rechercher" aria-label="Search">
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="fas fa-bell mx-0"></i>
            <span class="count">16</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown">
            <a class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">You have 16 new notifications
              </p>
              <span class="badge badge-pill badge-warning float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-danger">
                  <i class="fas fa-exclamation-circle mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium">Application Error</h6>
                <p class="font-weight-light small-text">
                  Just now
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="fas fa-wrench mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium">Settings</h6>
                <p class="font-weight-light small-text">
                  Private message
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="far fa-envelope mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium">New user registration</h6>
                <p class="font-weight-light small-text">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-envelope mx-0"></i>
            <span class="count">25</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            <div class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
              </p>
              <span class="badge badge-info badge-pill float-right">View all</span>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="./assets/images/faces/face4.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium">David Grey
                  <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  The meeting is cancelled
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="./assets/images/faces/face2.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium">Tim Cook
                  <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  New product launch
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="./assets/images/faces/face3.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium"> Johnson
                  <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  Upcoming board meeting
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="./assets/images/faces/img.jpg" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="fas fa-cog text-primary"></i>
              Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">
              <i class="fas fa-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>

      </ul>
    </div>
  </nav>>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:./assets/partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="fas fa-fill-drip"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close fa fa-times"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
          <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
        </div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme">
          <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
        </div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles primary"></div>
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <!-- partial -->
    <!-- partial:./assets/partials/_sidebar.html -->
    <app-nav></app-nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            Statistiques
          </h3>
        </div>
        <div class="row grid-margin">
          <div class="col-12">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                  <div class="statistics-item">
                    <p>
                      <i class="icon-sm fa fa-file-contract mr-2"></i>
                      Contrats
                    </p>
                    <h2>{{this.nbrContra}}</h2>
                  </div>
                  <div class="statistics-item">
                    <p>
                      <i class="icon-sm fas fa-dollar-sign mr-2"></i>
                      Total
                    </p>
                    <h2>{{this.Total}}</h2>
                  </div>
                  <div class="statistics-item">
                    <p>
                      <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
                      Récu
                    </p>
                    <h2>{{this.Recu}}</h2>
                  </div>
                  <div class="statistics-item">
                    <p>
                      <i class="icon-sm fas fa-cloud-upload-alt mr-2"></i>
                      A Payer
                    </p>
                    <h2>{{this.APayer}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Détails des statistiques</h4>

                <form class="form" name="form" #f="ngForm" (ngSubmit)="this.mangerForm(f)">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Article</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <ng-select [items]="listArt" bindLabel="nom" appendTo="body"
                              placeholder="Sélectionner un Article" [searchable]="true" [(ngModel)]="this.model.article"
                              #article="ngModel" name="article" required>
                            </ng-select>
                          </div>
                          <div *ngIf="(article.invalid && article.touched)" class="alert alert-danger p-2">
                            Saisir la Article
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Recouvreur</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <ng-select [items]="listRecouvreur" bindLabel="nom" appendTo="body"
                              placeholder="Sélectionner un Recouvreur" [searchable]="true"
                              [(ngModel)]="this.model.recouvreur" #recouvreur="ngModel" name="recouvreur" required>

                            </ng-select>


                          </div>
                          <div *ngIf="(recouvreur.invalid && recouvreur.touched)" class="alert alert-danger p-2">
                            Sélectionner un Recouvreur
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Contrats</label>
                        <label class="col-sm-6 col-form-label">{{nbrContra}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Chef</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <ng-select [items]="listChefGroupe" bindLabel="nom" appendTo="body"
                              placeholder="Sélectionner un Chef" [searchable]="true" [(ngModel)]="this.model.chef"
                              #chef="ngModel" name="chef" required>
                            </ng-select>
                          </div>
                          <div *ngIf="(chef.invalid && chef.touched)" class="alert alert-danger p-2">
                            Sélectionner un Chef
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Commercial</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <ng-select [items]="listVendeurCommercial" bindLabel="nom" appendTo="body"
                              placeholder="Sélectionner un Commission vendeur" [searchable]="true"
                              [(ngModel)]="this.model.commission_vendeur" #commission_vendeur="ngModel"
                              name="commission_vendeur" required>

                            </ng-select>

                          </div>
                          <div *ngIf="(commission_vendeur.invalid && commission_vendeur.touched)"
                            class="alert alert-danger p-2">
                            Sélectionner un Commission vendeur
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Total</label>
                        <label class="col-sm-6 col-form-label">{{Total}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Client</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <ng-select [items]="listClient" bindLabel="nom" appendTo="body"
                              placeholder="Sélectionner un client" [searchable]="true" [(ngModel)]="this.model.client"
                              #client="ngModel" name="client" required>
                            </ng-select>
                          </div>
                          <div *ngIf="(client.invalid && client.touched)" class="alert alert-danger p-2">
                            Saisir la Client
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Status Contrat</label>
                        <div class="col-sm-9">
                          <select class="form-control" placeholder="" name="statucontrat"
                            [(ngModel)]="this.model.statucontrat" #statucontrat="ngModel" required>
                            <option></option>
                            <option>En Cours</option>
                            <option>Fini</option>
                            <option>Retour</option>
                            <option>Probléme</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="(statucontrat.invalid && statucontrat.touched)" class="alert alert-danger p-2">
                        Saisir la Status du Contrat
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Récu</label>
                        <label class="col-sm-6 col-form-label">{{Recu}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Région</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <select class="form-control" (change)="getRegion($event)" [(ngModel)]="this.model.region"
                              name="region" #region="ngModel" required>
                              <ng-container *ngFor="let r of this.listRegion ">
                                <option [value]="r.id">{{r.nom_region}}</option>
                              </ng-container>
                            </select>
                          </div>
                          <div *ngIf="(region.invalid && region.touched)" class="alert alert-danger p-2" role="alert">
                            selectionner la Région
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Zone</label>
                        <div class="col-sm-9">
                          <div class="form-group row">
                            <select class="form-control" [(ngModel)]="this.model.zone" name="zone" #zone="ngModel"
                              required>
                              <ng-container *ngFor="let z of this.listZone ">
                                <option [value]="z.nom_zone">{{z.nom_zone}}</option>
                              </ng-container>
                            </select>

                          </div>
                          <div *ngIf="(zone.invalid && zone.touched)" class="alert alert-danger p-2" role="alert">
                            selectionner la Zone
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label">A Payer</label>
                        <label class="col-sm-6 col-form-label">{{this.APayer}}</label>
                      </div>
                    </div>
                  </div>


                  <div class="float-right" style="margin-bottom: 20px;">
                    <button type="button" [disabled]="!this.ok" class="btn btn-outline-primary btn-icon-text"
                      (click)="exportexcel()"><i class="fas fa-file-excel btn-icon-prepend"></i>
                      Exporter </button>
                    <button type="submit" class="btn btn-primary btn-icon-text" style="margin-left: 10px;"><i
                        class="fas fa-funnel-dollar btn-icon-prepend"></i> Chercher </button>

                  </div>
                </form>
                <br><br>
                <div style="text-align: center;">
                  <div *ngIf="this.ok2" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div *ngIf="this.ok" class="table-responsive">
                  <table class="table table-hover" id="excel-table">
                    <thead>
                      <tr>
                        <th>Numero</th>
                        <th>Client</th>
                        <th>Article</th>
                        <th>Quantité</th>
                        <th>Date de contrat</th>
                        <th>Première échéance</th>
                        <th>Status</th>
                        <th>Edition</th>
                      </tr>
                    </thead>



                    <tbody *ngFor="let item of this.listData | paginate: { itemsPerPage: 5, currentPage: p }">
                      <tr>
                        <td>{{item.numero}}</td>
                        <td>{{item.client}}</td>
                        <td>{{item.article}}</td>
                        <td>{{item.qte}}</td>
                        <td>{{item.datecontrat}}</td>
                        <td>{{item.premiereecheance}}</td>
                        <!-- <td>{{item.statucontrat}}</td> -->
                        <td>
                          <div *ngIf="item.statucontrat.toUpperCase()=='ENCOURS' || item.statucontrat.toUpperCase()=='EN COURS'" class="badge badge-info badge-pill">En Cours</div>
                          <div *ngIf="item.statucontrat.toUpperCase()=='FINI'" class="badge badge-success badge-pill">Fini</div>
                          <div *ngIf="item.statucontrat.toUpperCase()=='PROBLÉME'" class="badge badge-danger badge-pill">Probléme</div>
                          <div *ngIf="item.statucontrat.toUpperCase()=='RETOUR'" class="badge badge-warning badge-pill">Retour</div>


                        </td>
                        <td>
                          <div type="button" routerlink="/contrat" class="badge badge-pill badge-primary"
                                                style="margin-right: 10px;" tabindex="0" [routerLink]="['/contrat', item.numero]"><i
                                                  class="fas fa-eye"></i></div>
                        </td>
                    </tbody>
                  </table>
                  <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:./assets/partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
