<div class="modal-header">
  <h4 class="modal-title">{{titre}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form" name="form" #f="ngForm" (ngSubmit)="this.mangerForm(f)">
  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Jour de départ</label>
      <div class="col-sm-9">
        <input class="form-control" type="date" id="Name" placeholder="" name="date" [(ngModel)]="this.model.date" #date="ngModel" required>
      </div>
    </div>
    <div *ngIf="(date.invalid && date.touched)" class="alert alert-danger p-2" role="alert">
      Saisir la date
    </div>
  </div>


  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Région</label>
      <div class="col-sm-9">
        <select class="form-control"  [(ngModel)]="this.model.recouvreur" name="recouvreur" #recouvreur="ngModel" required>
          <ng-container *ngFor="let r of this.listRecouvreur ">
          <option [value]="r.nom">{{r.nom}}</option>
         </ng-container>
        </select>
      </div>
    </div>
    <div *ngIf="(recouvreur.invalid && recouvreur.touched)" class="alert alert-danger p-2" >
      Sélectionner un Recouvreur
    </div>
  </div>

  <!-- <div class="col-md-12">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Recouvreur</label>
      <div class="col-sm-9">
        <ng-select [items]="listRecouvreur"
        bindLabel="nom"
        appendTo="body"
        placeholder="Sélectionner un Recouvreur"
        [searchable]="true"
        [(ngModel)]="this.model.recouvreur"
        #="ngModel"
        name="recouvreur"
       required >

      </ng-select>

      </div>
    </div>
    <div *ngIf="(recouvreur.invalid && recouvreur.touched)" class="alert alert-danger p-2" >
      Sélectionner un Recouvreur
    </div>
  </div> -->
<div class="modal-footer">
  <button *ngIf="this.add" type="submit" class="btn btn-primary" [disabled]="f.invalid" >Ajouter</button>
  <button *ngIf="!this.add" type="submit" class="btn btn-primary" [disabled]="f.invalid">Modifier</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
</form>
</div>
