<div class="modal-header">
  <h4 class="modal-title">{{titre}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form" name="form" #f="ngForm" (ngSubmit)="this.mangerForm(f)">
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-9" >
          <input class="form-control" type="date"  id="Date" placeholder=""  name="Date" [(ngModel)]="this.model.Date" #Date="ngModel" required>
        </div>
      </div>
      <div *ngIf="(Date.invalid && Date.touched)" class="alert alert-danger p-2" >
        Saisir la Date
      </div>
    </div> -->
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Mensualité</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="Name" placeholder="" name="Mensualite" [(ngModel)]="this.model.Mensualite" #Mensualite="ngModel" required>
        </div>
      </div>
      <div *ngIf="(Mensualite.invalid && Mensualite.touched)" class="alert alert-danger p-2" role="alert">
        Saisir la Mensualité
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Payé</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="Name" placeholder="" name="PaiedAmmount" [(ngModel)]="this.model.PaiedAmmount" #PaiedAmmount="ngModel" required>
        </div>
      </div>
      <div *ngIf="(PaiedAmmount.invalid && PaiedAmmount.touched)" class="alert alert-danger p-2" role="alert">
        Saisir la Payé
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Reste</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="Name" placeholder="" name="Reste" [(ngModel)]="this.model.Reste" #Reste="ngModel" required>
        </div>
      </div>
      <div *ngIf="(Reste.invalid && Reste.touched)" class="alert alert-danger p-2" role="alert">
        Saisir la Reste
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Date de Payémont</label>
        <div class="col-sm-9" >
          <input class="form-control" type="date"  id="dp" placeholder=""  name="dp" [(ngModel)]="this.model.dp" #dp="ngModel" required>
        </div>
      </div>
      <div *ngIf="(dp.invalid && dp.touched)" class="alert alert-danger p-2" >
        Saisir la Date de Payémont
      </div>
    </div>
  </div>
<div class="modal-footer">
  <button *ngIf="this.add" type="submit" class="btn btn-primary" [disabled]="f.invalid" >Ajouter</button>
  <button *ngIf="!this.add" type="submit" class="btn btn-primary" [disabled]="f.invalid">Modifier</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
</form>
</div>
